body {
    font-family: NanumGothic, sans-serif;
}

h1, h2, h3 {
    font-family: NanumGothicBold, sans-serif;
}

#column1, #column2 {
    float: left;
    width: 46%;
    margin: 0 1em;
}

textarea#source {
    width: 99%;
    height: 8em;
}

div#result {
}