body {
    font-family: NanumGothic, sans-serif;
}

h1, h2, h3 {
    font-family: NanumGothicBold, sans-serif;
}

#column1, #column2 {
    float: left;
    width: 46%;
    margin: 0 1em;
}

#source {
    display: block;
    width: 99%;
    height: 8em;
    font-family: NanumGothic, sans-serif;
    font-size: 10pt;
}

#result {
    font-family: NanumGothic, sans-serif;
    font-size: 10pt;
    white-space: pre-wrap;
}

#page-url {
    display: none;
    width: 100%;
    word-wrap: break-word;
}

#share-buttons {
    text-align: center;
}

#footer {
    margin: 1em 0 0 0;
}