<!DOCTYPE html>
<html>
<head>
    <title>한자-한글 변환기 (beta)</title>

    <meta property="og:title" content="한자-한글 변환기"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://hanja.suminb.com"/>
    <meta property="og:image" content="http://hanja.suminb.com/static/images/hanja.png"/>
    <meta property="og:site_name" content="Hanja"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="fb:page_id" content="168777129862761" />
    <meta property="og:description"
          content="한자를 한글로 읽어주는 서비스입니다."/>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.suminb.com/jquery.sprintf.js"></script>
    <script type="text/javascript" src="http://static.suminb.com/jquery.autoresize.min.js"></script>
    
    <!-- Webfont provided by fontface.kr -->
    <script src="http://www.google.com/jsapi"></script>
    <script>
     google.load( "webfont", "1" );
     google.setOnLoadCallback(function() {
      WebFont.load({ custom: {
       families: [ "NanumGothic", "NanumGothicBold", "NanumMyeongjo" ],
       urls: [ "http://fontface.kr/NanumGothic/css", "http://fontface.kr/NanumGothicBold/css", "http://fontface.kr/NanumMyeongjo/css" ]
      }});
     });
    </script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/frontend.css"/>
</head>
<body>
    <h1>한자-한글 변환기</h1>
    
    <p>한자를 한글로 읽어주는 서비스입니다.</p>
    
    <div id="column1">    
        <form method="get">
            <div style="text-align: right;">
                <input type="button" value="변환하기" onclick="_translate()"/>
            </div>
            <textarea id="source">{{ text }}</textarea>
        </form>
    </div>
    <div id="column2">
        <pre id="result"></pre>
    </div>
    
    <div style="clear:both;"></div>
    
    <div id="page-url">
        <h3>이 페이지 주소</h3>
        <div></div>
    </div>
    
    <div id="footer">
        <div id="share-buttons"> 
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=159070044166734&amp;href=http%3A%2F%2Fhanja.suminb.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:88px; height:21px;" allowTransparency="true"></iframe> 
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://hanja.suminb.com" data-count="horizontal" data-via="suminb">Tweet</a> 
            <g:plusone size="medium" href="http://hanja.suminb.com"></g:plusone> 
        </div> 
    </div>
    
    
    <script type="text/javascript">
    // Example statements; one of these will be shown upon launch (if no `t` value is given)
    var examples = [
        "大韓民國은 民主共和國이다.",
        "大韓民國의 主權은 國民에게 있고, 모든 權力은 國民으로부터 나온다.",
        "大韓民國의 國民이 되는 요건은 法律로 정한다.",
        "國家는 法律이 정하는 바에 의하여 在外國民을 보호할 義務를 진다."
    ];

    window.onload = function() {
        // The following code was copied from
        // http://stackoverflow.com/questions/2161906/handle-url-anchor-change-event-in-js
        if ("onhashchange" in window) { // event supported?
            window.onhashchange = function () {
                hashChanged(window.location.hash);
            }
        }
        else { // event not supported:
            var storedHash = window.location.hash;
            window.setInterval(function () {
                if (window.location.hash != storedHash) {
                    storedHash = window.location.hash;
                    hashChanged(storedHash);
                }
            }, 100);
        }
        
        hashChanged(window.location.hash ? window.location.hash : "");
        
        $("#source").autoResize({
            // On resize:
            onResize : function() {
                $(this).css({opacity:0.8});
            },
            // After resize:
            animateCallback : function() {
                $(this).css({opacity:1});
            },
            // Quite slow animation:
            animateDuration : 300,
            // More extra space:
            extraSpace : 40
        }).trigger("change");
    }
    
    function onchangeTextarea(t) {
        console.log("textarea changed");
    }
    
    function resizeTextarea(t) {
        console.log("textarea onkeyup");
        console.log(t.cols);
        a = t.value.split('\n');
        b = 1;
        for (x=0;x < a.length; x++) {
            if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
        }
        b+= a.length;
        if (b > t.rows) t.rows = b;
    }
    
    function _translate() {
        var source = $("#source").val();
        $.get("/translate", {
                t: source
            }, function(response) {
                displayResult(response);
                displayURL(source);
                changeURL(source);
            }
        ).error(function(response) {
                console.log(response);
            }
        );
        
        return false;
    }

    function displayExample() {
        // Randomly chooses an example sentence
        var statement = examples[Math.floor(Math.random() * examples.length)];

        $("#source").html(statement);
        _translate();
    }
    
    function displayResult(result) {
        $("#result").html(result);
    }
    
    function displayURL(source) {
        if(source.length <= 64) {
            var url = $.sprintf("%s#t=%s", window.location.origin, encodeURIComponent(source));
    
            $("#page-url").css("display", "block");
            $("#page-url div").html($.sprintf("<a href=\"%s\">%s</a>", url, url));
        }
    }
    
    function changeURL(source) {
        window.location.hash = source.length < 256 ? $.sprintf("#t=%s", encodeURIComponent(source)) : '';
    }
    
    function hashChanged(hash) {
        if(hash.match(/^#t=/)) {
            $("#source").val(decodeURIComponent(hash.substring(3)));
            _translate();
        }
        else {
            displayExample();
        }
    }

    </script>
    
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-346833-15']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</body>
</html>
