<!DOCTYPE html>
<html>
<head>
    <title>Hanja (beta)</title>

    <meta property="og:title" content="Hanja"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://hanja.suminb.com"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Hanja"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="og:description"
          content=""/>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    
    <!-- Webfont provided by fontface.kr -->
    <script src="http://www.google.com/jsapi"></script>
    <script>
     google.load( "webfont", "1" );
     google.setOnLoadCallback(function() {
      WebFont.load({ custom: {
       families: [ "NanumGothic", "NanumGothicBold" ],
       urls: [ "http://fontface.kr/NanumGothic/css", "http://fontface.kr/NanumGothicBold/css" ]
      }});
     });
    </script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/frontend.css"/>
</head>
<body>
    <h1>한자-한글 변환기</h1>
    
    <p>한자를 한글로 읽어주는 서비스입니다.</p>
    
    <div id="column1">    
        <form method="get" action="/translate" onsubmit="return translate()">
            <div style="text-align: right;">
                <input type="submit" value="변환하기"/>
            </div>
            <textarea id="source" onkeyup="resizeTextarea(this)"></textarea>
        </form>
    </div>
    <div id="column2">
        <div id="result"></div>
    </div>
    
    
    <script>
    window.onload = function() {
    }
    
    function resizeTextarea(t) {
        a = t.value.split('\n');
        b=1;
        for (x=0;x < a.length; x++) {
            if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
        }
        b+= a.length;
        if (b > t.rows) t.rows = b;
    }
    
    function translate() {
        $.get("/translate", {
                q: $("#source").val()
            }, function(response) {
                displayResult(response);
            }
        ).error(function(response) {
                console.log(response);
            }
        );
        
        return false;
    }
    
    function displayResult(result) {
        $("#result").html(result);
    }
    </script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-346833-15']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</body>
</html>